<ui:composition 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
 >
       
     <p:menubar > 
            
            <p:submenu label="Accueil" >
                <p:menuitem value="Accueil"       outcome="p00_index.xhtml" />
            </p:submenu>
            
            <p:submenu label="Consultations">
                <p:menuitem value="Club"          outcome="p01_consultationclub.xhtml" />
                <p:menuitem value="Judoka"        outcome="p02_consultationjudoka.xhtml" />
            </p:submenu>
         
            <p:submenu label="Mises à Jour">
               
                <p:submenu label="Club">
                  
                  <p:menuitem value="Ajout"         outcome="p06_AjoutClub.xhtml"/>
                  <p:menuitem value="Modification"  outcome="p07_ModifClub.xhtml"/>
                  <p:menuitem value="Suppression"   outcome="p08_SuppClub.xhtml"/>
                 
                </p:submenu> 
                <p:separator/>
                <p:submenu label="Judoka">
                  
                  <p:menuitem value="Ajout"         outcome="p09_AjoutJudoka.xhtml"/>
                  <p:menuitem value="Modification"  outcome="p10_ModifJudoka.xhtml"/>
                  <p:menuitem value="Suppression"   outcome="p11_SuppJudoka.xhtml"/>
                 
                </p:submenu> 
            
            </p:submenu>
            
         <p:submenu label="Listes" >
                <p:menuitem value="Les Judokas"  outcome="p03_listedetouslesjudokas.xhtml" />
                <p:menuitem value="Les Clubs"  outcome="p12_lesClubs.xhtml" />
            </p:submenu>
             <p:submenu label="Statistiques" >
                <p:menuitem value="Catégories"   outcome="p04_graphiquecategpoids.xhtml" />
                <p:menuitem value="Ceintures"    outcome="p05_graphiqueceintures.xhtml" />
                <p:menuitem value="Camembert"    outcome="p13_Camembert.xhtml" />
            </p:submenu>
     </p:menubar>   
   
</ui:composition>
