<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
  <h:head>
      <title>Liste de tous les Judokas</title>
       <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
  <h:body> 
      
      
     <ui:include src="c00_menu.xhtml" /> <br/><br/><br/><br/> 
      
    <h:form>  
                 
        <p:dataTable value="#{controleur03.lesJudokas}"  var="unJudoka" 
                     paginator="true" paginatorPosition="top" scrollHeight="true" rows="10" >
               
       <f:facet name="header">Liste des judokas de la fédération</f:facet> 
       
         <p:column headerText="Id" style=" width: 5%;text-align: center;"> 
            #{unJudoka.id} 
         </p:column>   
       
       <p:column headerText="Nom"  sortBy="#{unJudoka.nom}" style=" width: 20%;text-align: left;"> 
             #{unJudoka.nom} #{unJudoka.prenom} 
         </p:column>
       <p:column headerText="Club"  sortBy=" #{unJudoka.leClub.nomClub}" 
                 style=" width: 20%;text-align: left;"> 
              #{unJudoka.leClub.nomClub}    
         </p:column>    
        
       <p:column headerText="Age"  sortBy="#{unJudoka.age}" style=" width: 8%;text-align: center;">   
             #{unJudoka.age} ans    </p:column>
             
       <p:column headerText="Poids"  sortBy="#{unJudoka.poids}" style=" width: 8%;text-align: center;"> 
             #{unJudoka.poids} kg 
         </p:column>
       <p:column headerText="Catégorie"  sortBy="#{unJudoka.categorie}" style=" width: 12%;text-align: left;"> 
             #{unJudoka.categorie} 
         </p:column>
         
       <p:column headerText="Ceinture" sortBy="#{unJudoka.ceinture}" style=" width: 8%;"> 
           
             <h:outputText value="................." 
                           style="background-color:#{ unJudoka.codeCouleurCeinture};" 
             />
         </p:column>
         
         <p:column headerText="Victoires" sortBy="#{unJudoka.nbVictoires}" style=" width: 8%;text-align: center;"> 
             #{unJudoka.nbVictoires}  
         </p:column>
            
       <f:facet name="footer">La fédération compte #{controleur03.lesJudokas.size()} judokas</f:facet> 
            
     </p:dataTable>
    
    </h:form>
  </h:body>
</html>

