<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
  <h:head>
      <title> Répartition des ceintures</title>
   <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
  <h:body> 
      
      
     <ui:include src="c00_menu.xhtml" />  
     <p:chart type="pie"   model="#{controleur05.pieModel}" 
                           style="width:800px;height:600px; margin-left: 250px;" /> 
    
  </h:body>
</html>

