<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
  <h:head>
      <title>Consultation des clubs</title>
     <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
    
  <h:body> 
      
    <ui:include src="c00_menu.xhtml" />
      
    <h:form>  
      <br/>          
      <p:outputLabel for="it-codeclub" value="  Code du Club " />     
      <p:inputText   id ="it-codeclub"  title="Saisir le code du Club"  value="#{controleur09.codeclub}"/>     
                
      <p:commandButton value="OK" action="#{controleur09.rechercheClub()}"  update="@all" />
      
      <p:panelGrid columns="2" styleClass="ui-panelgrid-blank" >
      
          <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank"  style=" width: 500px;" >  
            
             <h:outputText value="Nom du Club" />
             <h:outputText value="#{controleur09.club.nomClub}" />
             
             <h:outputText value="Adresse du Club"/>
             <h:outputText value="#{controleur09.club.adrClub}"/>
          
          </p:panelGrid> 
      
       <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank" >     
       
         <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank"  style=" width: 500px;">  
            
             <p:outputLabel for="it-idJudoka" value=" Id du Judoka " />  
             <p:inputText id="it-idJudoka" value="#{controleur09.judoka.id}"/>
             
             <p:outputLabel for="it-nomJudoka" value="  Nom du Judoka " />  
             <p:inputText id="it-nomJudoka" value="#{controleur09.judoka.nom}"/>
             
             <p:outputLabel for="it-prenomJudoka" value="  Prénom du Judoka " />  
             <p:inputText id="it-prenomJudoka" value="#{controleur09.judoka.prenom}"/>
             
             <p:outputLabel for="it-genreJudoka" value="  Genre du Judoka " />  
             <p:inputText id="it-genreJudoka" value="#{controleur09.judoka.sexe}"/>
             
             <p:outputLabel for="cal-dateNaiss" value=" Date de Naissance du Judoka " />  
             <p:calendar  id="cal-dateNaiss"    effect="slide"   locale="fr" lang="fr" 
                          navigator="true"    yearRange="1900:2050"
                          pattern="dd/MM/yyyy" 
                          value="#{controleur09.judoka.dateNaiss}"/>
             
              <p:outputLabel for="it-villeJudoka" value="ville du Judoka " />  
              <p:inputText id="it-villeJudoka" value="#{controleur09.judoka.ville}"/>
             
             <p:outputLabel for="it-poidsJudoka" value="  Poids du Judoka " />  
             <p:inputText id="it-poidsJudoka" value="#{controleur09.judoka.poids}"/>
             
             <p:outputLabel for="it-tailleJudoka" value=" Taille du Judoka " />  
             <p:inputText id="it-tailleJudoka"    value="#{controleur09.judoka.taille}"/>
             
             <p:outputLabel for="it-ceinture" value=" Ceinture du Judoka " />  
             <p:inputText id="it-ceinture" value="#{controleur09.judoka.ceinture}"/>
             
             <p:outputLabel for="it-nbVictoires" value="Nb  Victoires du Judoka " />  
             <p:inputText id="it-nbVictoires" value="#{controleur09.judoka.nbVictoires}"/>
             
         </p:panelGrid>
          
          
          <p:panelGrid  styleClass="ui-panelgrid-blank">   
              <p:graphicImage value="/resources/images/judo1.jpg" width="720" height="250" />
          </p:panelGrid> 
      
       </p:panelGrid>        
            
      </p:panelGrid>  
      
      <p:commandButton value="OK" action="#{controleur09.ajouterJudoka()}"  update="@all" />
   
    </h:form>
  </h:body>
</html>

