<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
      <title>Modification Judoka</title>
      <h:outputStylesheet  library="css"  name="stylesExos.css"/> 
  </h:head>
    
    
  <h:body> 
     
    <ui:include src="c00_menu.xhtml" />   
      
    <h:form>  
      <br/><br/>       
      <p:outputLabel for="it-idJudoka" value="Identifiant" />     
      <p:inputText   id ="it-idJudoka"  title="Saisir l'identifiant du Judoka"  value="#{controleur10.judoka.id}"/>     
                
      <p:commandButton value="OK" action="#{controleur10.rechercheJudoka()}"  update="@all" />
       
      <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank" >     
      
          <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank"  style=" width: 500px;">  
            
          <h:outputText value="Nom" />
          <h:outputText value="#{controleur10.judoka.nom}"/>
             
          <h:outputText value="Prénom"/>
          <h:outputText value="#{controleur10.judoka.prenom}"/>
          
          <h:outputText value="Sexe"/>
          <h:outputText value="#{controleur10.judoka.sexe}" />
          
          <h:outputText value="Club"/>
          <h:outputText value="#{controleur10.judoka.leClub.nomClub}"/>
            
          <h:outputText value="Ville"/>
          <h:inputText value="#{controleur10.judoka.ville}"/>
           
         
          <h:outputText value="Date de naissance"/>
          <p:calendar value="#{controleur10.judoka.dateNaiss}" 
                      effect="slide"   locale="fr" lang="fr" navigator="true"
                      pattern="dd/MM/yyyy" > 
          </p:calendar>
         
          <h:outputText value="Age"/>
          <h:outputText  value="#{controleur10.judoka.id!=null?controleur10.judoka.age :''} ans">
              <f:convertNumber pattern="#00"/>
          </h:outputText>
          
          <h:outputText value="Poids en kg"/>
          <p:spinner value="#{controleur10.judoka.poids}"/>
          
          <h:outputText value="Catégorie de poids"/>
          <h:outputText  value="#{controleur10.judoka.id!=null?controleur10.judoka.categorie:''}"/>
          
          <h:outputText value="Taille en cm"/>
          <p:spinner  value="#{controleur10.judoka.taille}"/>
              
          <h:outputText value="Imc"/>
          <h:outputText  value="#{controleur10.judoka.id!=null?controleur10.judoka.imc:''}">
              <f:convertNumber  pattern="#00.0"/>
          </h:outputText> 
           
          <h:outputText value="Ceinture #{controleur10.judoka.ceinture}"/>
          <h:inputText value="#{controleur10.judoka.ceinture}"/>
          
          <h:outputText value="Nombre de victoires"/>
          <p:spinner value="#{controleur10.judoka.nbVictoires}"/>
         
          <p:commandButton value="Modifier" action="#{controleur10.modifierJudoka()}"  update="@all" />

          
      </p:panelGrid>
           
            <p:panelGrid styleClass="ui-panelgrid-blank" >
                <p:graphicImage value="/resources/images/judo1.jpg" width="700" height="250" />
            </p:panelGrid>    
           
       </p:panelGrid>
    </h:form>
  </h:body>
</html>