<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
      <title>Consultation des judokas</title>
      <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
  <h:body> 
     <ui:include src="c00_menu.xhtml" />   
      
     
      
    <h:form>  
      <br/><br/>       
      <p:outputLabel for="it-idJudoka" value="Identifiant" />     
      <p:inputText   id ="it-idJudoka"  title="Saisir l'identifiant du Judoka"  value="#{controleur11.judoka.id}"/>     
                
      <p:commandButton value="OK" action="#{controleur11.rechercheJudoka()}"  update="@all" />
       <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank" >     
           <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank"  style=" width: 500px;">  
            
          <h:outputText value="Nom" />
          <h:outputText value="#{controleur11.judoka.nom}"/>
             
          <h:outputText value="Prénom"/>
          <h:outputText value="#{controleur11.judoka.prenom}"/>
          
           <h:outputText value="Sexe"/>
           <h:outputText value="#{controleur11.judoka.sexe}"/>
          
          <h:outputText value="Club"/>
          <h:outputText value="#{controleur11.judoka.leClub.nomClub}"/>
            
          <h:outputText value="Date de naissance"/>
          <h:outputText value="#{controleur11.judoka.dateNaiss}"/> 

          <h:outputText value="Poids"/>
          <h:outputText value="#{controleur11.judoka.poids} kg"/>
          
          <h:outputText value="Nombre de victoires"/>
          <h:outputText value="#{controleur11.judoka.nbVictoires}"/>
          
          <p:commandButton value="Supprimer" action="#{controleur11.supprimerJudoka()}"  update="@all" />
          
      </p:panelGrid>
           
            <p:panelGrid styleClass="ui-panelgrid-blank" >
                <p:graphicImage value="/resources/images/judo1.jpg" width="700" height="250" />
            </p:panelGrid>    
           
       </p:panelGrid>
    </h:form>
  </h:body>
</html>