<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Les Clubs</title>
        <h:outputStylesheet  library="css" name="stylesExos.css"/> 
    </h:head>
    <h:body>
        <ui:include src="c00_menu.xhtml" />
         <h:form>    
            <p:dataTable value="#{controleur031.lesClubs}"  var="unClub" 
                         paginator="true" paginatorPosition="top" scrollHeight="true" rows="10" >
                <p:column headerText="Club"  sortBy=" #{unClub.leClub.nomClub}" 
                         style=" width: 20%;text-align: left;"> 
           #{unClub.nomClub}
                 </p:column> 
            </p:dataTable>
        </h:form>
             
    </h:body>
</html>

